
.addComment{
  padding: 10px;
}

.postCommentBtn{
  background-color: rgb(23,156,106);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 235px;
  margin: 10px;
  margin-top: -10px;
  opacity: 0.9;
}

