*{
    box-sizing: border-box;
}

.header{
    margin: 0;
    padding: 0;
}

.headerTop {
    display: block;
}

img{
    background-size: cover;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.register-button{
    text-decoration: none; 
}

.register-button:hover{
    color: rgb(4,4,148);
}

.login-button{
    text-decoration: none;
}

.login-button:hover{
    color: rgb(4,4,148);
}

.loginNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32,207,116);
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.title{
    display: fix;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}

.login-button{
    margin-right: 10px;
}

.TopicLists{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ccc;
    font-size: 30px;
    list-style: none;
}

.home-nav{
    text-decoration: none;
}
